html, body {
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  color: #1e7dc7;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  display: block;
}
#canvasRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button {
  font-weight: bold;
  height: 2rem;
  margin: 0.2rem;
}
input {
  margin: 1rem;
}