canvas {
  cursor: none;
}

p {
  font-size: 1.25rem;
}

.control-row {
  margin-top: 0rem;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

button {
  background-color: #eee;
  border-width: 4px;
  border-color: #eee;
  border-style: solid;
  padding: 0.333rem;
  font-size: 1rem;
}

button:active {
  background-color: rgb(135, 196, 134);
  border-color: rgb(135, 196, 134);
}

.icon-button {
  width: 2.5rem;
}

button.selected {
  border-color: rgb(38, 196, 35);
  border-width: 4px;
  border-style: solid;
}

select {
  padding: 0.333rem;
  font-size: 1rem;
}

/* -- TOGGLE SWITCH -- */

:root {
  --switch-height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--switch-height) * 1.75);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--switch-height);
  background-color: rgb(122, 122, 122);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-height) * 0.75);
  width: calc(var(--switch-height) * 0.75);
  left: calc(var(--switch-height) / 8);
  bottom: calc(var(--switch-height) / 8);
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(38, 196, 35);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--switch-height) * 0.75));
  -ms-transform: translateX(calc(var(--switch-height) * 0.75));
  transform: translateX(calc(var(--switch-height) * 0.75));
}
