html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  bottom: 0;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

button {
  order: 1;
  margin-top: 1rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: rgb(199, 219, 235);
}

select {
  order: 2;
  margin-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.toggle {
  order: 3;
  margin-top: 1rem;
  color: white;
  font-size: 1.25rem;
}

.toggle > label {
  padding-left: 0.5rem;
}