h2, h4 {
  text-align: center;
}

.row p {
  margin: 0;
  opacity: 0.75;
  white-space: pre;
}

p.bright {
  opacity: 1;
}

p.dim {
  opacity: 0.5;
}

.container > .row {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #FFFFFF20;
}

.row:last-child {
  border-bottom: 0;
}

.row {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  font-size: 18px;
  text-align: left;
  flex: 1;
}

.right {
  font-size: 18px;
  text-align: right;
  flex: 1;
}