.ui-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.ui-container > * {
  margin: 0;
  padding: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.ui-container > p {
  margin-right: 0.25rem;
}
.ui-container > input {
  margin-left: 0;
}