html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  color: #7AB0DA;
  background-color: #1C1C1C;
  user-select: none; /* Prevent text selection while dragging */
  touch-action: none; /* Prevent pull-down-to-refresh on mobile */
}
canvas {
  display: block;
}
