input {
  width: 20rem;
  margin: 1rem;
}

textarea {
  width: 40rem;
  height: 15rem;
}

button {
  margin: 0.5rem;
  width: 6rem;
  height: 1.5rem;
  font-weight: bold;
}

#buttonRow {
  width: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
