html, body {
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body {
  color: #1e7dc7;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  display: block;
}
